@media (min-width: 300px) and (max-width: 576px) {
  #header h2 {
    font-size: 30px;
    margin-right: 0;
  }
  #header h2::after {
    font-size: 30px;
  }
  .about-img-contain {
    margin-bottom: 2rem;
  }
  .about-hero-img {
    display: flex;
    justify-content: end;
  }
  .about-hero-img::before {
    width: 90%;
  }
  .about-img-contain img {
    width: 90% !important;
  }
  .progress-box .col-12 {
    width: 95% !important;
  }
  #testimonial img {
    width: 100%;
  }
  #stat .col-3 {
    width: 100% !important;
  }
  #contact .col-4 {
    width: 100% !important;
  }
}
@media (min-width: 300px) and (max-width: 991px) {
  #nav ul {
    align-items: center;
    height: 100vh;
  }
  #nav {
    backdrop-filter: blur(5px);
  }
  #nav .container {
    width: 96%;
    padding-left: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #header h2 {
    font-size: 3rem;
    margin-right: 0;
  }
  #header h2::after {
    font-size: 3rem;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .about-hero-img {
    display: flex;
    justify-content: end;
  }
  .about-hero-img::before {
    width: 90%;
  }
  .about-img-contain img {
    width: 95% !important;
  }
  #testimonial img {
    width: 50%;
  }
}
